.qoute{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:solid rgba(16,150,200,0.3);
    border-radius: 40px;
    top:50%;
    left:50%;
    padding: 20px;
    padding-left: 1800px;
  overflow: hidden;
  float: left;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
  
  }
.profile{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0,0.3);
}
.profile ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:3px solid #000;
    border-radius:10px;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 240px;
    background: linear-gradient(0deg,#000000 , #0c0c0c)
}
.profile ul::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.05);
    bottom: -50%;
    pointer-events: none;
    z-index: 1;

}

.profile ul li{
position: relative;
list-style: none;
text-align: center;
margin:15px;


}

.profile ul li label{
    position: relative;

}
.profile ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.profile ul li label .icon-box{
    width: 60px;
    height: 60px;
    background:#101010;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    border-radius:10px;
    transition: 0.5s;
}

.profile ul li label .icon-box .fas , .fab{
    font-size: 30px;
    color:#222;
    transition: 0.5s;
}

.profile ul li label .icon-box .fab{
    font-size: 30px;
    color:#222;
    transition: 0.5s;
}
.profile ul li label .icon-box:hover{
    border:solid rgba(9, 116, 255, 0.192);
    

}
.profile ul li label input[type="checkbox"]:checked ~ .icon-box {


    background: #000;
    border: 3px solid #fff;
    box-shadow:0  0 10px rgba(33,156,243,.4),
    0  0 20px rgba(33,156,243,.4),
    0  0 30px rgba(33,156,243,.4),
    inset 0 0 10px rgba(33,156,243,1);
}
.profile ul li label input[type="checkbox"]:checked ~ .icon-box .fab {
    color:#fff;
    text-shadow: 0 0 10px rgba(33,156,243,.4),
    0 0 20px rgba(33,156,243,.4),
    0 0 30px rgba(33,156,243,.4);

}

.profile ul li label input[type="checkbox"]:checked ~ .icon-box .fas {
    color:#fff;
    text-shadow: 0 0 10px rgba(33,156,243,.4),
    0 0 20px rgba(33,156,243,.4),
    0 0 30px rgba(33,156,243,.4);

}




.body-cd{
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: sans-serif;
}



.container_data{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(260px , 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container_data .box{

    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #000;
}

.container_data .box::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(255, 253, 253);
    transform: skew(2deg , 2deg);
    z-index: -1;
}


.container_data .box:nth-child(1)::before{
background : linear-gradient(315deg , #ff0057,#e64a19);
}
.container_data .box:nth-child(2)::before{
    background : linear-gradient(315deg , #fa3d7c,#c2e20c);
    }
.container_data .box:nth-child(3)::before{
        background : linear-gradient(315deg , #27b6e2,#0b52af);
        }
.container_data .box:nth-child(4)::before{
            background : linear-gradient(315deg , #f303a3,#f19ec1);
            }

            .container_data .box:nth-child(5)::before{
                background : linear-gradient(315deg , #41f759,#f3037b);
                }
        
.container_data .box::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    pointer-events: none;
}

.content{
    position: relative;
    padding: 20px;
    transform: translatey(40px);
}

.box .content h2{
    position: absolute;
    top: -60px;
    right: 20px;
    margin:0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, .05);
    transition: 0.20s;
}

.box:hover .content h2{
    top:-140px;
}
.box .content h3{
   margin: 0 0 10px;
   padding: 0;
   font-size: 24px;
   font-weight: 500;
   color:#fff;
}
.box .content ul li{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color:#fff;
}
.box .content a{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display:inline-block;
    color:#fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;

}
.box:hover .content a{
transform: translateY(0);
opacity: 1;
visibility: visible;

}
.box .content a:hover{
color: #000;
background: #fff;
    
    }